.card {
  width: 100%;
  max-width: 480px;
  background: #0b1b4708;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-family: Concrette S TRIAL;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: -2%;
  color: #0b1b47;
  padding-bottom: 14px;
}

.step {
  background: #ffffff;
  border-radius: 2px;
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  background: #ffffff;
  border-radius: 2px;
}

.stepBlock {
  display: flex;
  gap: 4px;
}

.stepNumber {
  font-family: Work Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
  opacity: 50%;
}

.stepNumberStrong {
  font-family: Work Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
}

.stepSub {
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
  opacity: 50%;
}

.primaryButton {
  width: 100%;
  background: #0b1b47;
  color: white;
  border: none;
  padding: 14px 18px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

.stepLast {
  font-family: Work Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
  opacity: 20%;
}

.stepLastStrong {
  font-family: Work Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
  opacity: 40%;
}

@media (max-width: 767px) {
  .card {
    max-width: 358px;
  }

  .cardBorder {
    height: 280px;
  }

  .cardSection {
    height: 230px;
  }
}




