.card {
  width: 100%;
  max-width: 480px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: none;
  gap: 4px;
}

.cardBorder {
  background: linear-gradient(180deg, #c5f7e3 0%, rgba(197, 247, 227, 0) 50.19%),
    linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid #0b1b4733;
  border-radius: 4px;
  position: relative;
  overflow: visible;
  height: 320px;
}

.logo {
  margin: 12px;
}

.buttonWrapper {
  position: absolute;
  left: -1px;
  right: -1px;
  width: calc(100% + 2px);
  bottom: -1px;
  display: flex;
  justify-content: center;
  z-index: 2;
  pointer-events: auto;
}
.cardSection {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
}

.checkIcon {
  font-size: 28px;
  color: #0b8f3c;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardTitle {
  font-family: "Concrette S TRIAL", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #0b1b47;
}

.cardSubtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
  opacity: 0.5;
}

.primaryButton {
  margin-top: 4px;
  width: 100%;
  padding: 16px 18px;
  border: none;
  border-radius: 2px;
  background: linear-gradient(
      180deg,
      rgba(197, 247, 227, 0.5) -78%,
      rgba(11, 27, 71, 0) 100%
    ),
    linear-gradient(0deg, #0b1b47, #0b1b47);
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.05em;
  cursor: pointer;
}

@media (max-width: 767px) {
  .card {
    max-width: 358px;
  }

  .cardBorder {
    height: 280px;
  }

  .cardSection {
    height: 230px;
  }
}



