.card {
  width: 100%;
  max-width: 480px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: none;
  gap: 4px;
}

.cardBorder {
  background: 
    linear-gradient(180deg, rgba(201, 189, 247, 0.5) 0%, rgba(255, 255, 255, 0) 86.15%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid #0B1B4733 ;
  border-radius: 4px;
  position: relative;
  overflow: visible;
  height: 320px;
}

.logo {
  margin: 12px;
}

.buttonWrapper {
  position: absolute;
  left: -1px;
  right: -1px;
  width: calc(100% + 2px);
  bottom: -1px; 
  display: flex;
  justify-content: center;
  z-index: 2;
  pointer-events: auto;
}

.cardSection {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
}

.checkIcon {
  font-size: 28px;
  color: #0b8f3c;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardTitle {
  font-family: "Concrette S TRIAL", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #0b1b47;
}

.cardSubtitleCustom {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
  opacity: 50%;
}

.primaryButton {
  margin-top: 4px;
  width: 100%;
  padding: 16px 18px;
  border: none;
  border-radius: 2px;
  background: linear-gradient(
      180deg,
      rgba(197, 247, 227, 0.5) -78%,
      rgba(11, 27, 71, 0) 100%
    ),
    linear-gradient(0deg, #0b1b47, #0b1b47);
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.05em;
  cursor: pointer;
}

.walletCard {
  background: #0B1B4708;
  padding: 20px;
}

.walletRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walletLabel {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
}

.disconnect {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: auto;
  opacity: 0.5;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.walletAddress {
  margin-top: 4px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #0b1b47;
  opacity: 0.5;
}

/* мобилка, если нужно отдельно для карточки */
@media (max-width: 767px) {
  .card {
    max-width: 358px;
  }

  .cardBorder {
    height: 280px;
  }

  .cardSection {
  height: 230px;
}
}



